

<section ng-controller="CreatepropertyController">
  <div class="jumbotron text-center col-md-offset-2 col-md-8 col-md-offset-2 bg-setting">

    <br>

        <h1>Create New Property</h1>
		<form name="createProperty" ng-submit="create()" class="form-group">
Address: <input type="text" ng-model="address" class="form-control"/><br>
MLS: <input type="text" ng-model="MLS" class="form-control"/><br>
You are agent for: <select name="agentrole" ng-model="agentrole" class="form-control"/>
  <option value="Buyer">Buyer</option>
  <option value="Seller">Seller</option>
</select>
Other agent email: <input type="text" ng-model="agentemail" class="form-control"/><br>
Buyer email: <input type="text" ng-model="buyeremail" class="form-control"/><br>
Seller email: <input type="text" ng-model="selleremail" class="form-control"/><br>
<input type="submit" class="form-control btn btn-primary">Create New Property</input>
</form>
    
  </div>
</section>
