<section ng-controller="CreatepropertyController" ng-init="findAll()">
  <div class="jumbotron text-center col-md-offset-2 col-md-8 col-md-offset-2 bg-setting">

    <br>

    <div class="row">
      <p class="lead text-capitalize">
        <h2>Open Transactions</h2>
		<div class="list-group">
        <a ng-repeat="property in properties" ng-href="./properties/{{property._id}}" class="list-group-item">
		<table>
				<tr><td><h4 class="list-group-item-heading" ng-bind="property.address">{{property.address}}</h4></td></tr>
				<tr>
					<td class="border col-sm-4">Buyer Agent</td>
					<td class="border col-sm-4">Seller Agent</td>
					<td class="border col-sm-4">Buyer</td>
					<td class="border col-sm-4">Seller</td>
				</tr>
				<tr>
					<td>Next Task: <span ng-bind="property.next"></span></td>
					<td>MLS: <span ng-bind="property.MLS"></span></td>
				</tr>
		<table>
        </a>
    </div>
      </p>
    </div>
  </div>

</section>
