

<section ng-controller="CreatepropertyController" ng-init="findOne()">
  <div class="jumbotron text-center col-md-offset-2 col-md-8 col-md-offset-2 bg-setting">

    <br>

    <div class="row">
      <p class="lead text-capitalize">

        <h1 ng-bind="property.address">{{property.address}}</h1>
		<a href="{{property._id}}/tasks/create">Add Tasks</a>
		<!--<a href="{{property._id}}/tasks">Add or Edit Tasks</a>-->
		<table class="table">
			<caption>My Tasks</caption>
			<thead>
				<th><h2>Task Name</h2></th>
				<th><h2>Added</h2></th>
				<th><h2>Deadline</h2></th>
				<th><h2>Completed?</h2></th>
			</thead>
			<tbody>
			<tr ng-repeat="task in mytasks[0]" ng-href="./{{property._id}}/tasks/{{task._id}}">
				<td><h3 ng-bind="task.name">Task Name</h3></td>
				<td><h3 ng-bind="task.created | date:'MM/dd/yyyy'">Added</h3></td>
				<td><h3 ng-bind="task.due | date:'MM/dd/yyyy'">Deadline</h3></td>
				<td><h3><a class="btn btn-primary" ng-click="vm.complete(task)" ng-bind="task.complete"></a></h3></td>
			</tr>
			</tbody>
		</table>
		
		
		<div class="border row">
			<div class="border col-sm-4" ng-repeat="userTasks in tasks">
				<h2 ng-bind="roles[$index]">{{roles[$index]}}</h2>
				<a ng-repeat="task in userTasks" ng-href="./{{property._id}}/tasks/{{task._id}}" class="list-group-item">
					<h4 class="list-group-item-heading" ng-bind="task.name">{{task.name}}</h4>
					<span ng-bind="task.complete"></span>
				</a>
			</div>
		</div>

      </p>
    </div>
  </div>

</section>
