<section ng-controller="ArticlesCreateController">
  <div class="page-header">
    <div class="panel panel-warning" class="Phead">
    <div class="panel-heading"> <h1>New Property</h1></div>
    </div>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="row">

          <div class="col-md-6">
            <label class="control-label" for="agentrole">You are agent for:</label>
            <div class="controls">
              <select name="agentrole" data-ng-model="agentrole" id="agentrole" class="form-control"/>
              <option value="Buyer">Buyer</option>
              <option value="Seller">Seller</option>
              </select>
            </div>

            <label class="control-label" for="agentEmail">Client Email:</label>
            <div class="controls">
              <input name="agentEmail" type="text" data-ng-model="agentEmail" id="agentEmail" class="form-control">
            </div>

            <label class="control-label" for="buyer">Enter e-mail to notify of tasks</label>
            <div class="controls">
              <input name="buyer" type="text" data-ng-model="buyer" id="buyer" class="form-control">
            </div>

            <label class="control-label" for="seller">Enter e-mail to notify of tasks</label>
            <div class="controls">
              <input name="seller" type="text" data-ng-model="seller" id="seller" class="form-control">
            </div>

            <label class="control-label" for="mlsCode">MLS Code</label>
            <div class="controls">

              <input name="mlsCode" type="text" data-ng-model="mlsCode" id="mlsCode" class="form-control">
            </div>



            </div>

            </div>
            <div ng-show="error" class="text-danger">
              <strong ng-bind="error"></strong>
            </div>

        <div class="row">
          <div class="col-sm-6">
            <label class="control-label" for="city">City</label>
            <div class="controls">

              <input name="city" type="text" data-ng-model="city" id="city" class="form-control">
            </div>

            <label class="control-label" for="zip">ZIP</label>
            <div class="controls">

              <input name="zip" type="text" data-ng-model="zip" id="zip" class="form-control">
            </div>
        </div>
        </div>
          <div class="row">

            <div class="col-md-6">
              <label class="control-label" for="street">Street</label>
              <div class="controls">

                <input name="street" type="text" data-ng-model="street" id="street" class="form-control">
              </div>


              <label class="control-label" for="state">State</label>
              <div class="controls">

                <input name="state" type="text" data-ng-model="state" id="state" class="form-control">
              </div>
              <div class="pad">
                <button type="submit" class="btn btn-warning">Add Property</button>
              </div>
            </div>

            </div>

          </div>

      </fieldset>
    </form>
  </div>
</section>
