<!--<section ng-controller="ArticlesFindOneController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="article.agent"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == article.user._id">
    <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
   <h1><em class="text-muted">
     Posted on
     <span ng-bind="article.created_at | date:'mediumDate'"></span>
     by
     <span ng-bind="article.user.displayName"></span>
   </em></h1>
    <h2>ToDo Calander</h2>
    <datepicker  ng-model="ac.mydate" md-placeholder="enter date"></datepicker>
  </small>
  <p class="lead" ng-bind="article.content"></p>
</section>-->



<section ng-controller="ArticlesFindOneController" ng-init="findOne()">
  <div class="row">
    <div class="col-md-6">
  <div class="panel panel-warning" class="Phead">
    <div class="panel-heading">
      <h1 class="Phead">You are the {{roleName}}</h1>
    </div>
    <div class="panel-body">


      <h4 >Street : {{article.street}}</h4>
      <h4>City : {{article.city}}</h4><h4>State : {{article.state}}</h4><h4>Zip : {{article.zip}}</h4>
      <h4>MLS: {{article.mlsCode}}</h4>

          <!--<a href="{{article._id}}/tasks">Add or Edit Tasks</a>-->

 <!--         <table class="table">
            <thead>
            <div >
            <th><h3 class="cust">Task Name</h3></th>

            <th><h3 class="cust">Deadline</h3></th>
            <th><h3 class="cust">Complete</h3></th>
            </div>
            </thead>
            <tbody>
            <tr ng-repeat="task in mytasks[0]" ng-href="./{{article._id}}/tasks/{{task._id}}">
              <td><h4 ng-bind="task.name">Task Name</h4></td>

              <td><h4 ng-bind="task.due | date:'MM/dd/yyyy'">Deadline</h4></td>
              <div class="col-xs-2 col-xs-push-2">
              <td><h4><a class="btn btn-warning" ng-click="complete(task);" ng-bind="task.complete"></a></h4></td>
              </div>
            </tr>
            </tbody>
          </table>-->
        </div>

    </div>
      <a class="btn btn-warning " ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
      </a>


      <a class="btn btn-warning" href="{{article._id}}/tasks/create">Add Tasks</a>
    </div>
      <div class="col-md-6">
        <div class="panel panel-warning" class="panelCust">
          <div class="panel-heading">
            <h1 class="Phead">Tasks</h1>
          </div>
            <div class="panel-body">
            <div class="border row">
              <div class="border col-sm-4" ng-repeat="userTasks in tasks">

                <a ng-repeat="task in userTasks" ng-href="./{{article._id}}/tasks/{{task._id}}" class="list-group-item" class="pad">
                  <h4 ng-class='{red : !task.complete, green: task.complete}' >{{task.name}} </h4>
                  Due Date:
                  <td><h4 ng-class='{red : !task.complete, green: task.complete}' ng-bind="task.due | date:'MM/dd/yyyy'">Due Date</h4></td>
                </a>
              </div>
            </div>
            </div>

        </div>
      </div>
  </div>






	</div>
  </div>











</section>
