<section>
  <div class="panel panel-warning" class="Phead">
  <div class="panel-heading">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">

        <h1>Users</h1>

      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div></div></div>
  <div class="row">
    <div class="col-md-6">
  <div class="list-group">
    <a ng-repeat="user in pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      Name: {{user.firstName}}  {{user.lastName}}
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>

    </a>
  </div>
    </div>
  </div>
  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
