.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.property-list{
  font-size: 100px;
  color: #A00000;
}
.bg-setting{
  background-color: #f0ad4e;
  border-radius: 15px;
  border-bottom-width: thick;
  border-color: #A00000;
}
p {
  color: ghostwhite;
}

/*View Single Property ("Article") Styling*/
.articleNav {
	float: right;
}

.articleInfo {
	float: left;
	text-align: left;
}

.green {
	color: green !important;
}

.red {
	color: red !important;
}

.role {
	display: block;
	float: left;
}


.cust {
    color: #000000;
    text-decoration: underline;
    text: bold;


}
.Phead {
    color: #000000;


}
.panelCust{
    color: #f0ad4e;
}

.pad{
    padding-top: 10px;
    padding-bottom: 40px;

}

